.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1% 1% 0 8%;
  min-height: 120px;
}

.saveResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0%;
  margin-left: 5%;
  width: 35%;
}

.saveResults p {
  margin:1% 2% 1% 2%;
}

.saveResults div {
  min-width: 100%;
}

.contain {
  border: solid 1px black;
  margin: 1px 0 1px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 170px;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 75%;
}

.buttons button {
  margin: 0 1% 0 1%;
}

.inputSolo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1% 0 1%;
}

.numberInputs {
  margin: 1%
}

.generateCode {
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code {
  margin: 1%;
  display: flex;
  flex-direction: column;
}

.separator {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separator p {
  margin: 1% 0 0 1%;
}

.download {
  margin-top: 5%;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.contain p{
  width: 250px;
}

.results p{
  width: 100%;
}